pre, .pre  {
  overflow-x: auto;
  overflow-y: hidden;
  overflow:   scroll;
}


code {
  background-color: var(--washed-blue);
  border-radius: 5px;
  border: 1px solid var(--lightest-blue);
  padding: 0 3px;
  font-size: .95rem;
  color: #404248;
}

pre  code {
  border-radius: 0px;
  display: block;
  padding: 1.25em 1.25em;
  white-space: pre;
  font-size: .875rem;
  line-height: 1.5em;
}

pre {
  white-space: pre-wrap;

  hyphens: none;
  position: relative;
}
