/* Put your custom styles here and run `npm start` from the "src" directory on */

#TableOfContents ul li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.lh-copy blockquote {
  display: block;
  font-size: .875em;
  margin-left: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-left: 4px solid #ccc;
  padding-left: 1rem;

}

cite {
    font-style: italic;
}
